@model ProjectWebApp.Models.Opleiding

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Verwijderen</h1>

<h3>Bent u zeker dat u deze opleiding wilt verwijderen?</h3>
<div>
    <h4>Opleiding</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prijs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Niveau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Niveau.Naam)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Federatie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Federatie.Naam)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorie.Naam)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slot.Beschrijving)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voorwaarden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voorwaarden.Beschrijving)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving.Beschrijving)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Algemeenheden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Algemeenheden.Beschrijving)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Verwijderen" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-success">Terug naar lijst</a>
    </form>
</div>
