@model IEnumerable<ProjectWebApp.Models.Opleiding>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Opleidingen</h1>

<p>
    <a asp-action="Create">Creër een nieuwe opleiding</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Niveau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Federatie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voorwaarden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Algemeenheden)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Niveau.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Federatie.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slot.Beschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voorwaarden.Beschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving.Beschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Algemeenheden.Beschrijving)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OpleidingID">Aanpassen</a> |
                <a asp-action="Details" asp-route-id="@item.OpleidingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OpleidingID">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
